<a href="https://colab.research.google.com/github/redballoon73/Portfolio/blob/main/%EC%A2%85%EB%AA%A9_%EA%B2%80%EC%83%89(by_%ED%88%AC%EC%9E%90%EC%A7%80%ED%91%9C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건 대상
1. 매출액에서 차지하는 비중 그 상품이 회사의 매출액의 20퍼센트 이상 차지해야 된다.
2. 주가수익비율. PER과 회사의 연간 이익증가율을 비교
3. 현금보유량. 현금 보유량에서 장기부채를 제외해서 남는 순현금의 양을 체크하기
4. 부채요소. 정상 기업은 주주지분 75%, 부채 25%로 구성. (부채/현금 의 비율인 부채비율은 200% 이내여야 한다.)
5. 배당. 고배당주(저성장주)는 배당을 바라보고 매입하기 때문에 수십년간 배당을 규칙적으로 증가시켰는 지 확인하기
6. 현금 흐름. 잉여현금흐름이 주가의 10% 이상인(영업이익이 큰) 회사
7. 재고 자산. 재고가 매출보다 빠르게 증가하는 것은 위험 신호다.
8. 이익성장률. 성장의 핵심은 원가절감, 가격인상 등을 통한 이익증가이다. 이익성장률이 높은회사가 좋다
9. EV(시장가치) = 시가총액(주식 수*주가) + 총 부채 - (현금+유가증권)
   EBIDTA = 총 이익 + ( 감가상각비 + 세금 )
   EV/EBIDTA가 작을수록 주식 가격이 매력적. 매수! 근데 음수면 안됨ㅋㅋ
10. 매출 증가율이 지속적으로 좋아야 함.
11. 매출채권이 갑자기 늘고 부채가 갑자기 감소하면 분식회계. 안좋은것.
12. 과도한 투자나 생뚱맞은 데 투자하는 기업은 망함.
13. 시장 점유율
14. PBR = 주식 가격 / 주당 순자산(=(전체 자산-부채)/총 주식 수)
    PBR이 낮을 수록 좋은 것. PBR이 1 미만이면 주가가 순자산보다 싼 경우.

# 투자 지표
1. EV/EBIDTA
2. PER vs 연간 이익 성장률
3. PBR
4. 이익성장률
5. 매출 증가율
6. 현금 보유량
7. 부채비율

# 설계
1. KRX에서 종목 코드 찾기 (Pandas, DataFrame)
2. 찾은 종목 코드로 네이버 금융에 검색 (주소창에 종목 코드 입력)
3. 네이버 금융에서 투자 지표 가져오기 (BeautifulSoup)
4. 투자 지표 각각의 기준 설정해서 기준 충족하면 True, 충족 못하면 False
5. for i in KRX 종목코드 : 로 코스피에 있는 모든 회사의 투자 지표 필터링
6. 투자 지표 조건 선택해서 여러개의 조건 충족시키는 회사 찾기

#프로그램 시작

##1. KRX에서 종목 코드 찾기 (Pandas, DataFrame)

In [ ]:
import pandas as pd
df = pd.read_excel('/content/data_0719_20220806.xlsx')
df

,표준코드,단축코드,한글 종목명,한글 종목약명,영문 종목명,상장일,시장구분,증권구분,소속부,주식종류,액면가,상장주식수
0,KR7095570008,95570,AJ네트웍스보통주,AJ네트웍스,"AJ Networks Co.,Ltd.",2015-08-21,KOSPI,주권,NaN,보통주,1000,46822295
1,KR7006840003,6840,AK홀딩스보통주,AK홀딩스,"AK Holdings, Inc.",1999-08-11,KOSPI,주권,NaN,보통주,5000,13247561
2,KR7282330000,282330,BGF리테일보통주,BGF리테일,BGF Retail,2017-12-08,KOSPI,주권,NaN,보통주,1000,17283906
3,KR7027410000,27410,BGF보통주,BGF,BGF,2014-05-19,KOSPI,주권,NaN,보통주,1000,95716791
4,KR7138930003,138930,BNK금융지주보통주,BNK금융지주,BNK Financial Group Inc.,2011-03-30,KOSPI,주권,NaN,보통주,5000,325935246
...,...,...,...,...,...,...,...,...,...,...,...,...
933,KR7005010004,5010,휴스틸보통주,휴스틸,HUSTEEL,1973-06-29,KOSPI,주권,NaN,보통주,1000,39188075
934,KR7000541003,545,흥국화재해상보험1우선주,흥국화재우,HeungkukFire&MarineIns(1P),1990-03-20,KOSPI,주권,NaN,구형우선주,5000,768000
935,KR7000542001,547,흥국화재해상보험2우선주(신형),흥국화재2우B,HeungkukFire&MarineIns(2PB),1999-08-09,KOSPI,주권,NaN,신형우선주,5000,153600
936,KR7000540005,540,흥국화재해상보험보통주,흥국화재,HeungkukFire&MarineInsurance,1974-12-05,KOSPI,주권,NaN,보통주,5000,64242645
937,KR7003280005,3280,흥아해운보통주,흥아해운,HeungaShipping,1976-06-29,KOSPI,주권,NaN,보통주,500,240424899

In [ ]:
#단축코드를 모두 6글자로 만들어주기.
for idx, data in enumerate(df['단축코드']):
  if len(str(data))<6:
    while len(str(data))<=5:
      data = "0"+str(data)
  df['단축코드'].iloc[idx] = data
df['단축코드']

<ipython-input-3-30e5a6541652>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['단축코드'].iloc[idx] = data

0      095570
1      006840
2      282330
3      027410
4      138930
        ...
933    005010
934    000545
935    000547
936    000540
937    003280
Name: 단축코드, Length: 938, dtype: object

In [ ]:
filt = df['단축코드']==138930
corp_name = str(df[filt]['한글 종목약명'].iloc[0])
print(corp_name)

BNK금융지주

In [ ]:
corp_name ="삼성전자"+"보통주"
filt = df['한글 종목명'].str.contains(corp_name)
corp_num = str(df[filt]['단축코드'].iloc[0])
print(corp_num)

005930

##2. 찾은 종목 코드로 네이버 금융에 검색 (주소창에 종목 코드 입력)

In [ ]:
import requests
from bs4 import BeautifulSoup

url = f"https://finance.naver.com/item/main.naver?code={corp_num}"
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"}
res = requests.get(url, headers=headers)
res.raise_for_status()

soup = BeautifulSoup(res.text, "lxml")

##3. 네이버 금융에서 투자 지표 가져오기 (BeautifulSoup)

###투자지표
1. EV/EBIDTA
2. PER vs 연간 이익 성장률
3. PBR
4. 이익성장률
5. 매출 증가율
6. 현금 보유량
7. 부채비율

###1. EV/EBIDTA
iframe의 src=""에 나와있는 url로 이동해서 BeautifulSoup 적용해야됨.

In [ ]:
import requests
from bs4 import BeautifulSoup

url = f"https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd={corp_num}"
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"}
res = requests.get(url, headers=headers)
res.raise_for_status()

soup = BeautifulSoup(res.text, "lxml")

In [ ]:
#EV/EBITDA
rank1 = soup.find('th', text = 'EV/EBITDA')
rank2 = rank1.find_next_sibling('td')
EV_EBITDA = rank2.get_text()
print(EV_EBITDA)

3.70

<ipython-input-8-f6832d205eef>:2: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  rank1 = soup.find('th', text = 'EV/EBITDA')

###2. PER vs 연간 이익 성장률
import re 정규식으로 PER의 값만 나타내기

In [ ]:
# PER
rank1_per = soup.find_all('dt', attrs={'class':'line-left'})

list_per = []
for i in rank1_per:
  list_per.append(i.get_text())

# list comprehension 사용
matching1 = [s for s in list_per if "PER" in s]
matching_per = matching1[0][4:]
print(matching_per)

7.61

In [ ]:
# 연간 이익 성장률
rank1_rising = soup.find('td', attrs={'title':'영업이익증가율'})
rank2_rising = rank1.find_next_siblings('td')
rank3_rising = rank1.find_previous_sibling('td')
print(rank2_rising)
print(rank3_rising)

[<td class="num">3.70</td>, <td class="num noline-right">5.32</td>]
None

In [ ]:
rank1_rising = soup.select_one('#tcQmZIZ20rMn > table:nth-child(2) > tbody > tr:nth-child(4) > td.num.ext4')
print(rank1_rising)

None

###3.PBR

In [ ]:
# PBR
rank1_pbr = soup.find_all('dt', attrs={'class':'line-left'})

list_pbr = []
for i in rank1_pbr:
  list_pbr.append(i.get_text())

# list comprehension 사용
matching2 = [s for s in list_pbr if "PBR" in s]
matching_pbr = matching2[0][4:]
print(matching_pbr)

1.21

###4. 이익성장률
미완성. PEGR 한번 알아보기

In [ ]:
# 연간 이익 성장률
rank1_rising = soup.find('td', attrs={'title':'영업이익증가율'})
rank2_rising = rank1.find_next_siblings('td')
rank3_rising = rank1.find_previous_sibling('td')
print(rank1_rising)
print(rank2_rising)
print(rank3_rising)

None
[<td class="num">3.70</td>, <td class="num noline-right">5.32</td>]
None

In [ ]:
#영업이익 증가율
rank1_rising = soup.find_all('td', attrs={'class':'num ext0'})
#rank2_rising = rank1_rising.find_next_siblings('td')
print(rank1_rising)

[]

###5. 매출 증가율

In [ ]:
# 매출액 증가율 : 이익성장률과 같은 방법으로.

###6. 현금 보유량

In [ ]:
# 현금 보유량 : 이익성장률과 같은 방법으로.

###7. 부채비율

In [ ]:
# 부채 비율 : 이익성장률과 같은 방법으로.

##4. 투자 지표 조건 만족하는 회사 찾기.
1. for i in df['단축코드']: 사용해서 모든 회사 투자지표 검색
2.

In [ ]:
import requests
from bs4 import BeautifulSoup

url = f"https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd={corp_num}"
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"}
res = requests.get(url, headers=headers)
res.raise_for_status()

soup = BeautifulSoup(res.text, "lxml")

In [ ]:
for i in df['단축코드']:
  #BeautifulSoup으로 크롤링 시작
  url = f"https://navercomp.wisereport.co.kr/v2/company/c1010001.aspx?cmp_cd={i}"
  headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"}
  res = requests.get(url, headers=headers)
  res.raise_for_status()

  soup = BeautifulSoup(res.text, "lxml")

  #종목 이름
  filt_1 = df['단축코드']==i
  corp_name = str(df[filt_1]['한글 종목약명'].iloc[0])

  #EV/EBITDA
  rank1 = soup.find('th', text = 'EV/EBITDA')
  rank2 = rank1.find_next_sibling('td')
  EV_EBITDA = rank2.get_text()

  #PER
  rank1_per = soup.find_all('dt', attrs={'class':'line-left'})
  list_per = []
  for i1 in rank1_per:
    list_per.append(i1.get_text())
  # list comprehension 사용
  matching1 = [s1 for s1 in list_per if "PER" in s1]
  matching_per = matching1[0][4:]

  # PBR
  rank1_pbr = soup.find_all('dt', attrs={'class':'line-left'})
  list_pbr = []
  for i2 in rank1_pbr:
    list_pbr.append(i2.get_text())
  # list comprehension 사용
  matching2 = [s2 for s2 in list_pbr if "PBR" in s2]
  matching_pbr = matching2[0][4:]

  # 필터링 시작
  try :
    if float(EV_EBITDA) <3 and float(EV_EBITDA) >0 and float(matching_pbr) <1 and float(matching_per) < 5 and float(matching_per) > 0:
      print(i)#종목코드
      print(corp_name)
      print("EV/EBITDA="+ EV_EBITDA)
      print("PBR="+matching_pbr)
      print("PER="+matching_per)
      print('-'*50)
  except: pass

<ipython-input-22-9c6864986507>:15: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  rank1 = soup.find('th', text = 'EV/EBITDA')

37550K
DL이앤씨우
EV/EBITDA=0.59
PBR=0.33
PER=3.50
--------------------------------------------------
37550L
DL이앤씨2우(전환)
EV/EBITDA=0.59
PBR=0.33
PER=3.50
--------------------------------------------------
375500
DL이앤씨
EV/EBITDA=0.59
PBR=0.33
PER=3.50
--------------------------------------------------
092230
KPX홀딩스
EV/EBITDA=0.22
PBR=0.24
PER=4.77
--------------------------------------------------
093050
LF
EV/EBITDA=2.09
PBR=0.34
PER=3.88
--------------------------------------------------
001120
LX인터내셔널
EV/EBITDA=1.45
PBR=0.47
PER=2.20
--------------------------------------------------
010060
OCI
EV/EBITDA=2.45
PBR=0.56
PER=2.50
--------------------------------------------------
009160
SIMPAC
EV/EBITDA=2.16
PBR=0.46
PER=2.91
--------------------------------------------------
013580
계룡건설
EV/EBITDA=1.60
PBR=0.22
PER=1.50
--------------------------------------------------
037710
광주신세계
EV/EBITDA=0.62
PBR=0.34
PER=4.76
--------------------------------------------------
002995
금호건설우
EV/EBITDA=1.66
PBR=0.45
PER=3.63
--------------------------------------------------
002990
금호건설
EV/EBITDA=1.66
PBR=0.45
PER=3.63
--------------------------------------------------
011785
금호석유우
EV/EBITDA=1.37
PBR=0.69
PER=3.97
--------------------------------------------------
011780
금호석유
EV/EBITDA=1.37
PBR=0.69
PER=3.97
--------------------------------------------------
047040
대우건설
EV/EBITDA=1.70
PBR=0.46
PER=3.48
--------------------------------------------------
016090
대현
EV/EBITDA=2.05
PBR=0.41
PER=3.64
--------------------------------------------------
001230
동국제강
EV/EBITDA=2.90
PBR=0.33
PER=1.56
--------------------------------------------------
024090
디씨엠
EV/EBITDA=1.71
PBR=0.48
PER=4.24
--------------------------------------------------

AttributeError: ignored